USE [master]
GO
/****** Object:  Database [HBH_Logistics]    Script Date: 06.07.2018 11:08:20 ******/
CREATE DATABASE [HBH_Logistics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HBH_Logistics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\HBH_Logistics.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HBH_Logistics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\HBH_Logistics_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HBH_Logistics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HBH_Logistics]
GO
/****** Object:  Table [dbo].[hbh_mitarbeiter]    Script Date: 06.07.2018 11:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hbh_mitarbeiter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Anrede] [varchar](max) NULL,
	[Vorname] [varchar](max) NULL,
	[Nachname] [varchar](max) NULL,
	[EMail] [varchar](max) NULL,
	[Passwort] [varchar](max) NULL,
 CONSTRAINT [PK_hbh_mitarbeiter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hbh_newsletter_abmeldungen]    Script Date: 06.07.2018 11:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hbh_newsletter_abmeldungen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](max) NULL,
	[zeitpunkt_abmeldung] [varchar](max) NULL,
	[ip_adresse] [varchar](max) NULL,
 CONSTRAINT [PK_hbh_newsletter_abmeldungen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newsletter_deutsch]    Script Date: 06.07.2018 11:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newsletter_deutsch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firma] [varchar](max) NULL,
	[Ansprechpartner] [varchar](max) NULL,
	[EMail] [varchar](max) NULL,
 CONSTRAINT [PK_newsletter_deutsch] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newsletter_deutsch_november]    Script Date: 06.07.2018 11:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newsletter_deutsch_november](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firma] [varchar](max) NULL,
	[Ansprechpartner] [varchar](max) NULL,
	[EMail] [varchar](max) NULL,
 CONSTRAINT [PK_newsletter_deutsch_november] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newsletter_englisch]    Script Date: 06.07.2018 11:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newsletter_englisch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firma] [varchar](max) NULL,
	[Ansprechpartner] [varchar](max) NULL,
	[EMail] [varchar](max) NULL,
 CONSTRAINT [PK_newsletter_englisch] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
