USE [master]
GO
/****** Object:  Database [Nielsen_HDB]    Script Date: 06.07.2018 11:15:43 ******/
CREATE DATABASE [Nielsen_HDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nielsen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Nielsen.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Nielsen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Nielsen_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nielsen_HDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nielsen_HDB]
GO
/****** Object:  Table [dbo].[Handelsdatenbank]    Script Date: 06.07.2018 11:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Handelsdatenbank](
	[TDLinx] [int] NULL,
	[Name] [varchar](max) NULL,
	[Straße] [varchar](max) NULL,
	[PLZ] [varchar](max) NULL,
	[Ort] [varchar](max) NULL,
	[Bundesland] [varchar](max) NULL,
	[Nielsengebiet] [varchar](max) NULL,
	[Vorwahl] [varchar](max) NULL,
	[Telefon] [varchar](max) NULL,
	[Fax] [varchar](max) NULL,
	[VK_Fläche] [varchar](max) NULL,
	[Eröffnung] [date] NULL,
	[Entscheider_Vorname] [varchar](max) NULL,
	[Entscheider] [varchar](max) NULL,
	[Typ] [varchar](max) NULL,
	[Betriebsform] [varchar](max) NULL,
	[Handelszentrale] [varchar](max) NULL,
	[Vertriebslinie] [varchar](max) NULL,
	[MBU] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
